In [70]:
import pandas as pd
import numpy as np

%matplotlib inline

data_train = pd.read_csv('./titanic/train.csv')
data_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [71]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [72]:
data_train[data_train['Age'].isnull()].head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q

In [73]:
from sklearn.ensemble import RandomForestRegressor

### 使用 RandomForestRegressor 填补缺失的年龄属性
def set_missing_ages(df):

    # 把已有的数值型特征取出来丢进Random Forest Regressor中
    age_df = df[['Age','Fare', 'Parch', 'SibSp', 'Pclass']]

    # 乘客分成已知年龄和未知年龄两部分
    known_age = age_df[age_df.Age.notnull()].as_matrix()
    unknown_age = age_df[age_df.Age.isnull()].as_matrix()

    # y即目标年龄
    y = known_age[:, 0]

    # X即特征属性值
    X = known_age[:, 1:]

    # fit到RandomForestRegressor之中
    rfr = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)
    rfr.fit(X, y)

    # 用得到的模型进行未知年龄结果预测
    predictedAges = rfr.predict(unknown_age[:, 1::])

    # 用得到的预测结果填补原缺失数据
    df.loc[ (df.Age.isnull()), 'Age' ] = predictedAges 

    return df, rfr

def set_Cabin_type(df):
    df.loc[ (df.Cabin.notnull()), 'Cabin' ] = "Yes"
    df.loc[ (df.Cabin.isnull()), 'Cabin' ] = "No"
    return df

data_train, rfr = set_missing_ages(data_train)
data_train = set_Cabin_type(data_train)

In [74]:
data_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.647248,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.629879,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,21.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,29.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,36.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [75]:
dummies_Cabin = pd.get_dummies(data_train['Cabin'], prefix= 'Cabin')
dummies_Embarked = pd.get_dummies(data_train['Embarked'], prefix= 'Embarked')
dummies_Sex = pd.get_dummies(data_train['Sex'], prefix= 'Sex')
dummies_Pclass = pd.get_dummies(data_train['Pclass'], prefix= 'Pclass')

df_train = pd.concat([data_train, dummies_Cabin, dummies_Embarked, dummies_Sex, dummies_Pclass], axis=1)
df_train.drop(['Pclass', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
df_train.head()

,PassengerId,Survived,Age,SibSp,Parch,Fare,Cabin_No,Cabin_Yes,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3
0,1,0,22.0,1,0,7.2500,1,0,0,0,1,0,1,0,0,1
1,2,1,38.0,1,0,71.2833,0,1,1,0,0,1,0,1,0,0
2,3,1,26.0,0,0,7.9250,1,0,0,0,1,1,0,0,0,1
3,4,1,35.0,1,0,53.1000,0,1,0,0,1,1,0,1,0,0
4,5,0,35.0,0,0,8.0500,1,0,0,0,1,0,1,0,0,1

In [76]:
import sklearn.preprocessing as preprocessing
scaler = preprocessing.StandardScaler()
age_scale_param = scaler.fit(df_train['Age'].values.reshape(-1,1))
#df['Age_scaled'] = scaler.fit_transform(df['Age'])
df_train['Age_scaled'] = scaler.fit_transform(df_train['Age'].values.reshape(-1,1), age_scale_param)
fare_scale_param = scaler.fit(df_train['Fare'].values.reshape(-1,1))
df_train['Fare_scaled'] = scaler.fit_transform(df_train['Fare'].values.reshape(-1,1), fare_scale_param)
#df['Fare_scaled'] = scaler.fit_transform(df['Fare'])
df_train.head()

,PassengerId,Survived,Age,SibSp,Parch,Fare,Cabin_No,Cabin_Yes,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,Age_scaled,Fare_scaled
0,1,0,22.0,1,0,7.2500,1,0,0,0,1,0,1,0,0,1,-0.561380,-0.502445
1,2,1,38.0,1,0,71.2833,0,1,1,0,0,1,0,1,0,0,0.613171,0.786845
2,3,1,26.0,0,0,7.9250,1,0,0,0,1,1,0,0,0,1,-0.267742,-0.488854
3,4,1,35.0,1,0,53.1000,0,1,0,0,1,1,0,1,0,0,0.392942,0.420730
4,5,0,35.0,0,0,8.0500,1,0,0,0,1,0,1,0,0,1,0.392942,-0.486337

In [77]:
# 用正则取出我们要的属性值
train_df = df_train.filter(regex='Survived|Age_.*|SibSp|Parch|Fare_.*|Cabin_.*|Embarked_.*|Sex_.*|Pclass_.*')
train_np = train_df.as_matrix()

# y即Survival结果
y = train_np[:, 0]

# X即特征属性值
X = train_np[:, 1:]

In [91]:
y.dtype

dtype('float64')

In [78]:
train_np[:, 1:].shape

(891, 14)

In [79]:
from sklearn import linear_model
# fit到RandomForestRegressor之中
logr = linear_model.LogisticRegression(C=1.0, penalty='l1', tol=1e-6)
logr.fit(X, y)

logr

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=1e-06,
          verbose=0, warm_start=False)

In [80]:
# Define the variables for training
from sklearn import tree
# Set up and fit the decision tree model. Then export as graphviz
Tree1 = tree.DecisionTreeClassifier(max_depth=4,min_samples_split=50,random_state=1)
Tree1.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=50,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best')

In [81]:
Tree1_dot = tree.export_graphviz(Tree1,out_file=None,feature_names=train_df.drop('Survived',axis=1).columns,class_names=['Not Survived','Survived'],proportion=True,filled=True)
print(Tree1_dot)

digraph Tree {
node [shape=box, style="filled", color="black"] ;
0 [label="Sex_male <= 0.5\ngini = 0.473\nsamples = 100.0%\nvalue = [0.616, 0.384]\nclass = Not Survived", fillcolor="#e5813960"] ;
1 [label="Pclass_3 <= 0.5\ngini = 0.383\nsamples = 35.2%\nvalue = [0.258, 0.742]\nclass = Survived", fillcolor="#399de5a6"] ;
0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;
2 [label="Age_scaled <= -1.993\ngini = 0.1\nsamples = 19.1%\nvalue = [0.053, 0.947]\nclass = Survived", fillcolor="#399de5f1"] ;
1 -> 2 ;
3 [label="gini = 0.5\nsamples = 0.2%\nvalue = [0.5, 0.5]\nclass = Not Survived", fillcolor="#e5813900"] ;
2 -> 3 ;
4 [label="Fare_scaled <= -0.067\ngini = 0.091\nsamples = 18.9%\nvalue = [0.048, 0.952]\nclass = Survived", fillcolor="#399de5f2"] ;
2 -> 4 ;
5 [label="gini = 0.182\nsamples = 7.7%\nvalue = [0.101, 0.899]\nclass = Survived", fillcolor="#399de5e2"] ;
4 -> 5 ;
6 [label="gini = 0.02\nsamples = 11.1%\nvalue = [0.01, 0.99]\nclass = Survived", fillcolor="#399de5fc"] ;
4 -> 6 ;
7 [label="Fare_scaled <= -0.178\ngini = 0.5\nsamples = 16.2%\nvalue = [0.5, 0.5]\nclass = Not Survived", fillcolor="#e5813900"] ;
1 -> 7 ;
8 [label="Age_scaled <= 0.503\ngini = 0.484\nsamples = 13.1%\nvalue = [0.41, 0.59]\nclass = Survived", fillcolor="#399de54e"] ;
7 -> 8 ;
9 [label="gini = 0.472\nsamples = 12.3%\nvalue = [0.382, 0.618]\nclass = Survived", fillcolor="#399de561"] ;
8 -> 9 ;
10 [label="gini = 0.245\nsamples = 0.8%\nvalue = [0.857, 0.143]\nclass = Not Survived", fillcolor="#e58139d4"] ;
8 -> 10 ;
11 [label="gini = 0.198\nsamples = 3.0%\nvalue = [0.889, 0.111]\nclass = Not Survived", fillcolor="#e58139df"] ;
7 -> 11 ;
12 [label="Cabin_Yes <= 0.5\ngini = 0.306\nsamples = 64.8%\nvalue = [0.811, 0.189]\nclass = Not Survived", fillcolor="#e58139c4"] ;
0 -> 12 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;
13 [label="Age_scaled <= -1.919\ngini = 0.235\nsamples = 52.7%\nvalue = [0.864, 0.136]\nclass = Not Survived", fillcolor="#e58139d7"] ;
12 -> 13 ;
14 [label="gini = 0.459\nsamples = 1.6%\nvalue = [0.357, 0.643]\nclass = Survived", fillcolor="#399de571"] ;
13 -> 14 ;
15 [label="Fare_scaled <= 0.444\ngini = 0.212\nsamples = 51.2%\nvalue = [0.879, 0.121]\nclass = Not Survived", fillcolor="#e58139dc"] ;
13 -> 15 ;
16 [label="gini = 0.2\nsamples = 48.8%\nvalue = [0.887, 0.113]\nclass = Not Survived", fillcolor="#e58139df"] ;
15 -> 16 ;
17 [label="gini = 0.408\nsamples = 2.4%\nvalue = [0.714, 0.286]\nclass = Not Survived", fillcolor="#e5813999"] ;
15 -> 17 ;
18 [label="Age_scaled <= -0.892\ngini = 0.487\nsamples = 12.0%\nvalue = [0.579, 0.421]\nclass = Not Survived", fillcolor="#e5813946"] ;
12 -> 18 ;
19 [label="gini = 0.0\nsamples = 0.9%\nvalue = [0.0, 1.0]\nclass = Survived", fillcolor="#399de5ff"] ;
18 -> 19 ;
20 [label="Fare_scaled <= -0.489\ngini = 0.468\nsamples = 11.1%\nvalue = [0.626, 0.374]\nclass = Not Survived", fillcolor="#e5813967"] ;
18 -> 20 ;
21 [label="gini = 0.0\nsamples = 0.9%\nvalue = [1.0, 0.0]\nclass = Not Survived", fillcolor="#e58139ff"] ;
20 -> 21 ;
22 [label="gini = 0.483\nsamples = 10.2%\nvalue = [0.593, 0.407]\nclass = Not Survived", fillcolor="#e5813950"] ;
20 -> 22 ;
}

In [82]:
Tree1.score(X,y)

0.82940516273849607

In [83]:
data_test = pd.read_csv('./titanic/test.csv')
data_test.loc[ (data_test.Fare.isnull()), 'Fare' ] = 0
# 接着我们对test_data做和train_data中一致的特征变换
# 首先用同样的RandomForestRegressor模型填上丢失的年龄
tmp_df = data_test[['Age','Fare', 'Parch', 'SibSp', 'Pclass']]
null_age = tmp_df[data_test.Age.isnull()].as_matrix()
# 根据特征属性X预测年龄并补上
X_test = null_age[:, 1:]
predictedAges = rfr.predict(X_test)
data_test.loc[ (data_test.Age.isnull()), 'Age' ] = predictedAges

data_test = set_Cabin_type(data_test)
dummies_Cabin = pd.get_dummies(data_test['Cabin'], prefix= 'Cabin')
dummies_Embarked = pd.get_dummies(data_test['Embarked'], prefix= 'Embarked')
dummies_Sex = pd.get_dummies(data_test['Sex'], prefix= 'Sex')
dummies_Pclass = pd.get_dummies(data_test['Pclass'], prefix= 'Pclass')


df_test = pd.concat([data_test, dummies_Cabin, dummies_Embarked, dummies_Sex, dummies_Pclass], axis=1)
df_test.drop(['Pclass', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
df_test['Age_scaled'] = scaler.fit_transform(df_test['Age'].values.reshape(-1,1), age_scale_param)
df_test['Fare_scaled'] = scaler.fit_transform(df_test['Fare'].values.reshape(-1,1), fare_scale_param)
df_test.head()

,PassengerId,Age,SibSp,Parch,Fare,Cabin_No,Cabin_Yes,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,Age_scaled,Fare_scaled
0,892,34.5,0,0,7.8292,1,0,0,1,0,0,1,0,0,1,0.307521,-0.496637
1,893,47.0,1,0,7.0000,1,0,0,0,1,1,0,0,0,1,1.256241,-0.511497
2,894,62.0,0,0,9.6875,1,0,0,1,0,0,1,0,1,0,2.394706,-0.463335
3,895,27.0,0,0,8.6625,1,0,0,0,1,0,1,0,0,1,-0.261711,-0.481704
4,896,22.0,1,1,12.2875,1,0,0,0,1,1,0,0,0,1,-0.641199,-0.416740

In [84]:
test = df_test.filter(regex='Age_.*|SibSp|Parch|Fare_.*|Cabin_.*|Embarked_.*|Sex_.*|Pclass_.*')

In [85]:
y_pred_logr = logr.predict(test)
y_pred_logr.sum()

157.0

In [86]:
y_pred_tree = Tree1.predict(test)
y_pred_tree.sum()

148.0

In [87]:
X.shape

(891, 14)

In [88]:
y.shape

(891,)

In [89]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=1500, criterion='gini')

rfc.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1500, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [90]:
y_pred_rf = rfc.predict(test)
y_pred_rf.sum()

157.0